
header 
{
    background-color:#dfdfdf;
    background-repeat: no-repeat;
    background-position:center;
    background-size:100%;   
    padding: 20px;
    height: 130px;
    text-align: center;
    width:100%;
}


nav ul
{
    margin:0;
    padding:0;
    list-style-type: none;         /*no bullets or numbers*/
    height:120px;
}
    
nav ul>li
{
    display:inline-block;          /*  One beside the other*/
    margin: 50px 100px 0 0 ;
    font-family: 'Mandali', sans-serif;
 
}

nav ul li a
{
    color:black;
    text-decoration: none;
    font-size: 17px;
   

}
a:hover
{
    color:red;
}

header .logo a
 {

    display: inline-block;
    background-image: url("photos//logo.png");
    background-size: 200px;
    background-repeat: no-repeat;  
    height: 150px;
    position: relative;
    text-indent: -9999999px;
    top: -67.2px;
    width: 200px;   
    
}
.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 1px solid rgb(15, 9, 9);
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
 
  
.searchButton {
    width: 40px;
    height: 32px;
    border: 1px solid rgb(11, 19, 20);
    background: #00B4CC;
    text-align: center;
    color: #000000;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  .wrap
  {
    width: 280%;
    position: relative;
  } 
#basketlogo
{
    margin-right: 0px;
    margin-left:400px;
    
}

#basketlogo a
{
   display: inline-block;
   background-image: url("photos//Basket.png");
   background-repeat: no-repeat;  
   position: relative;
   top: -10px;
   width: 40px;
   height:50px;
   text-indent: -9999999px;      

}

/***********************************************************/
section
{
    height:1167px;
    width:80%;
    margin: 50px 80px 0 140px;

}


 section .container
{
    display: grid;
    width: 100%;
    grid-template-columns: 20% 80%;
    height:90%;

      
}
.menu
{
    border: 1px solid #eee;
    text-align: center;
}

.grid
{ 
    width: 100%;
    display: inline-grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33% 33% 33%;
}

.item
{
    border: 0.5px solid #eee;
    margin:0.25px;
}

.productname
{
    color: #666;
    font-size: 14px;
    word-break: break-word;
    font-family: Celias,Helvetica;
    margin-left: 26px;
    margin-right: 26px;
    height: 38px;
}

.productimage
{
    height:200px;
}

.productquantity
{
    margin-left: 26px;
    margin-right: 26px;
    margin-top: 10px;
    color: #999;
    font-size: 13px;
    line-height: normal;
    font-family: Celias,Helvetica;
}

.productcostcontainer
{
    margin-top: 20px;
}

.productcost
{
    margin-left: 26px;
    margin-right: 26px;
    font-family: Celias,Helvetica;
    color: #333;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
}

.addtocart 
{
    display: inline-block;
    
}

.addtocart button
{
    background-color: white;
    border-radius: 68px;
    border: 0.50px solid #e96125;
    font-family: Celias,Helvetica;
    font-size: 12px;
    color: #666;
    width: 98px;
    height: 32px;
    margin : 0px 0 0 50px;
}
/* *********************************************************************** */


footer
{
    background-color:black;
    color:white;
    margin: 0;
    height:200px;
    
    width:100%;
}
footer div
{
    display: inline-block;
    width:150px;
    height:150px;
    
}

 .info
{
    vertical-align: 10px;
    margin: 10px 20px 40px 225px;
}

.shop
{   
    vertical-align: 47.75px;
    margin: 10px 40px 40px 40px;
}

.support
{
    vertical-align: 67.5px; 
}

footer div ul
{
    padding: 12px;
}

.fb
{
    vertical-align: 100px;
     width:50px;
     margin: 10px 50px 50px 50px;

}
.insta
{
    vertical-align: 100px;
    width:50px; 
    margin: 10px 100px 50px 50px;
}
.twitter
{   
    margin: 10px 100px 50px 0;
    vertical-align: 100px;
    width:50px;
}

/**********************************************************************/

/*Responsive Design*/

@media screen and (max-width:770px)
{
   
    header .mobile
    {
        display: inline-block;
    }
    header
    {
        height:250px;
    }
    header .logo a
    {
       top: -29px; 
       
    }

    header ul li
    {  
        margin: 40px 50 px 0 0 ;
        font-family: 'Mandali', sans-serif;
    }
    header .desktop
    {
        display: none;
    }


}


/*Responsive Design*/

@media screen and (max-width:663px)
{
   
    header .mobile
    {
        display: inline-block;
    }
    header
    {
        height:250px;
    }
    header .logo a
    {
       top: -25px; 
       
    }
    header .desktop
    {
        display: none;
    }

    .pictures
    {
        height: 500px;
    }
}
